__pycache__/
.venv/
Papers/
raw.githubusercontent.com/
resultados sktime/
input/
output/
classifiers/logs/
business_names.zip
reviews.zip
signatures.zip
timeseries.zip
weekdays_datasets.zip
classifiers/logs
Lendut-poptimes-6f47251548c4/

TO DO.txt

*.pkl
**/.DS_Store
*.png