__pycache__/
.venv/
Papers/
raw.githubusercontent.com/
resultados sktime/
input/
output/
classifiers/logs/
business_names.zip
reviews.zip
signatures.zip
timeseries.zip
weekdays_datasets.zip
classifiers/logs

TO DO.txt

*.pkl
**/.DS_Store